<div class="container" [ng2-loading]="loading">
  <h3>Facet</h3>

  <div>
    <button *ngIf="selectedCategories && selectedCategories.length > 0"
            (click)="removeAllSelected(categories)"
            class="btn">Remove all selected
    </button>

    <app-checkbox-tree-facet
      (toggleSelect)="toggleSelect()" *ngIf="categories && categories.length > 0"
      [categories]="categories"></app-checkbox-tree-facet>
  </div>

  <div *ngIf="error" class="error">
    Something went wrong
  </div>
</div>
